.app{
 display: flex;
 flex-direction: column;
 align-items: center; 
}

.taskCreate{
  width: 450px;
}

.taskUpdate{
  width: 100%;
}

.taskListDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.taskForm{
  display: flex;
  flex-direction: column;
}

.taskLabel{
  margin: 10px 0px;
}

.taskInput{
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
}

.taskButton{
  background-color: green;
  color: white;
  border: 1px solid green;
  margin: 5px 0px;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}

.taskButton.update{
  background-color: purple;
  color: white;
  border: 1px solid purple;
  margin: 5px 0px;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
}

.taskButton:hover{
  background-color: white;
  color: green;
}

.task-card{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 1px 1px lightgray;
  width: 350px;
  margin: 20px;
}



.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.taskh4{
  margin: 0;
  margin-bottom: 5px;
  margin-top: 3px;
}

.card-footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  padding: 5px;
}


.btnDelete{
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
}

.btnDelete:hover{
  background-color: white;
  color: red;
}

.btnUpdate{
  background-color:deepskyblue;
  color: white;
  border: 1px solid deepskyblue;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
}

.btnUpdate:hover{
  background-color:white;
  color: deepskyblue;
}

