.mainNav{
    background-color: blue;
    padding: 15px 30px;
}

.mainNav a{
    color:whitesmoke;
    text-decoration: none;
    margin-left: 10px;
}

.mainNav a.active{
    font-weight: bold;
    font-size: 20px;
}